<section class="footerContainer">
  <section class="footerRoundContainer">
    <footer class="footer footer-center p-10 bg-zinc-400 text-zinc-950">
      <aside>
        <img class="logo" src="/imgs/shiotsuki-interior-high-resolution-logo-transparent.png" alt="">
        <p class="font-bold">
          Shiotsuki Interior <br>Providing reliable flooring services since 1980
        </p> 
        <p>Copyright © 2024 - All right reserved</p>
      </aside> 
    </footer>
  </section>
</section>
