<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Shiotsuki Interior</title>
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/imgs/shiotsuki-interior-high-resolution-logo-transparent.png"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
  <link 
    href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" 
    rel="stylesheet" 
    type="text/css" 
  />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/output.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body class="mainBody">
  <header>
    <nav class="bg-white-800 nav">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 flex justify-between items-center">
        <!-- Left side: Logo -->
        <div class="flex items-center">
          <a href="/feed">
            <img class="h-10 w-30 logo" src="imgs/shiotsuki-interior-high-resolution-logo-transparent.png" alt="Your Company">
          </a>
        </div>
        <!-- Center: Navigation Links -->
        <div class="hidden sm:block nagLinks">
          <div class="flex space-x-4">
            <a href="/feed" class="text-stone-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Projects</a>
            <a href="/addProject" class="text-stone-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Add project</a>
            <a href="/profile" class="text-stone-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Profile</a>
            <a href="#" class="text-stone-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Team</a>
          </div>
        </div>
        <!-- Right side: User and Sign Out -->
        <div class="flex items-center">
          <h3 class="text-stone-950 mr-3">User: <%= user.userName %></h3>
          <a href="/logout" class="text-stone-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Sign Out</a>
        </div>
      </div>
    </nav>
  </header>
  <script src="js/main.js"></script>
</body>
</html>
