<%- include('partials/header') -%>
<div class="flex flex-col items-center justify-center h-screen">
  <section>
    <h2>Add a project</h2>
  </section>

  <section>
    <form action="/post/createPost" enctype="multipart/form-data" method="POST">

      <label for="title" class="input input-bordered flex items-center gap-2 logInFormInput">Title
        <input type="text" class="form-control" id="title" name="title">
      </label>

      <label for="status" class="input input-bordered flex items-center gap-2 logInFormInput">Status
        <input type="text" class="form-control" id="status" name="status">
      </label>

      <label for="address" class="input input-bordered flex items-center gap-2 logInFormInput">Address
        <input type="text" class="form-control" id="address" name="address">
      </label>

      <label for="time" class="input input-bordered flex items-center gap-2 logInFormInput">Time of assembly
        <input type="time" class="form-control" id="time" name="time">
      </label>

      <label for="assignedDate" class="input input-bordered flex items-center gap-2 logInFormInput">Date of project
        <input type="date" class="form-control" id="assignedDate" name="assignedDate">
      </label>      

      <label for="caption" class="input input-bordered flex items-center gap-2 logInFormInput">Caption
        <textarea class="form-control resize-none w-full" id="caption" name="caption"></textarea>
      </label>

      <label for="imgUpload" class="input input-bordered flex items-center gap-2 logInFormInput">Image
        <input type="file" class="form-control" id="imageUpload" name="file">
      </label>
 
      <button type="submit" class="btn btn-primary submitButton">Submit</button>

    </form>
  </section>
  
  <!-- <ul class="row list-unstyled">
  <% for(var i=0; i<posts.length; i++) {%>
    <li class="col-6 justify-content-between mt-5">
      <a href="/post/<%= posts[i]._id%>">
        <img class="img-fluid" src="<%= posts[i].image%>">
      </a>
    </li>
  <% } %>
  </ul> -->
</div>
<%- include('partials/footer') -%>
