<%- include('partials/headerIndex') -%>

<main class="container">
  <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-warning"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <%
    messages.info.forEach( el => { %>
    <div class="alert alert-warning"><%= el.msg %></div>
  <% }) %> <% } %>
  
</main>
<section class="cardContainer">
  <section class="card">
    <section class="logIntitle">
      <span class="titleSpan">SHIOTSUKI INTERIOR</span>
    </section>
    <section class="logInFormContainer">
      <form action="/" method="POST">
        <label for="exampleInputEmail1" class="input input-bordered flex items-center gap-2 logInFormInput">
          Email
          <input type="email" class="grow" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
          />
        </label>
        <label for="exampleInputPassword1" class="input input-bordered flex items-center gap-2 logInFormInput">Password
        <input type="password" class="grow" id="exampleInputPassword1" name="password"/>
        </label>
        <button type="submit" class="btn btn-primary submitButton">Submit</button>
      </form>
    </section>
    <section class="memberCreateContainer">
      <span>Don't have an account?</span>
      <a class="link link-primary" href="/signup"> Signup here</a>
    </section>
  </section>
  
</section>