<%- include('partials/headerIndex') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
            </section>
        </div>
    </main>
        <section class="cardContainer">
          <section class="card">
            <section class="logIntitle">
              <span class="titleSpan btn-primary">SHIOTSUKI INTERIOR</span>
            </section>
            <section class="logInFormContainer">
              <form action="/signup" method="POST">

                <label for=" userName" class="form-label">User Name</label>
                <input type="text" class="input input-bordered flex items-center gap-2 logInFormInput" id="userName" name="userName">


                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="input input-bordered flex items-center gap-2 logInFormInput" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">


                <label for="password" class="form-label">Password</label>
                <input type="password" class="input input-bordered flex items-center gap-2 logInFormInput" id="password" name="password">


                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="input input-bordered flex items-center gap-2 logInFormInput" id="confirmPassword" name="confirmPassword">

                <label for="position" class="form-label">Position</label>
                <input type="text" class="input input-bordered flex items-center gap-2 logInFormInput" id="position" name="position">

                <button type="submit" class="btn btn-primary submitButton">Submit</button>
              </form>
            </section>
            <section class="memberCreateContainer">
              <span>Already have an account?</span>
              <a class="link link-primary" href="/"> log In here</a>
            </section>
        </section>
      </section>