@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBody {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	background-color: #f5f5f5;
	overflow-x: hidden;
  }
  .indexBody{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	overflow: hidden;
  }
  .allProjectsSec{
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	justify-content: center;
  }
  .footer {
	margin-top: auto;
  }

.profile-dropdown {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .profile-dropdown-container:hover .profile-dropdown {
	opacity: 1;
	visibility: visible;
  }
  .feedTitle{
	text-align: center;
	font-size: 40px;
	margin-bottom: 4%;
  }
  .allProjectsTitle{
	margin-top: 4%;
	margin-bottom: 4%;
  }
/*Card*/
.cardContainer{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.mainContainer .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: flex-start;
  }
  /* Adjust the width of the cards */
.card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 700px; /* Adjust as needed */
	width: 100%;
}
.logIntitle{
	width: 400px;
	height: 40px;
	border-radius: 10px 10px 0px 0px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logInFormContainer{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 500px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 10px 0px rgba(114, 114, 114, 0.5);
	margin-bottom: 8%;
}
.signUpFormContainer{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 800px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 10px 0px rgba(114, 114, 114, 0.5);
	margin-bottom: 8%;
}
.titleSpan{
	font-size: 30px;
}
.memberCreateContainer{
	margin-top: 10%;
}
.memberCreateContainerSignUp{
	margin-top: 0%;
}
.allProjectCard{
	display: flex;
}
/* layout */
.mainContainer{
	background-image: url('/imgs/pexels-gdtography-911758.jpg');
	height: 100vh;
	background-position: -250% -198%;
	position: relative;
	border: 30px solid #f5f5f5;
	border-radius: 50px;
}
.dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
.allProjectContainer{
	height: 80vh;
	background-position: -250% -198%;
	position: relative;
	border: 30px solid #f5f5f5;
	border-radius: 50px;
}
.allProjectDesc{
	display: flex;
	flex-direction: column;
}
.blueprintCard{
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.footer-center{
	border-radius: 50px;
	border-width: 10px 30px 15px 30px;
	border-style: solid;
	border-color: #f5f5f5;
}
/*butons*/
.submitButton{
	width: 100%;

}
/* nav */
.nav{
	margin-bottom: 5%;
}
/*form*/
.logInFormInput{
	margin-bottom: 10%;
}

/* img */
.logInImg {
	background-image: url('/imgs/logInBG.jpg');
	background-size: cover; /* Adjust as needed */
	background-position: center; /* Adjust as needed */
	height: 600px;
	width: 600px;
  }
  .feedImg{
	width: 100%;
	height: 100%;
  }
  .feedImgContainer{
	height: 300px;
	width: 300px;
  }
  .card-body{
	border-radius: 0px 10px 10px 0px;
  }
  .logo{
	height: auto;
	width: 100px;
  }
/* colros */
/* orange : #ff5733 */
/* white : #ffffff */
/* dark white : #fOfOfO */
/* light grey : #b8b8b8 */
/* gray : #707070 */