@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
  }
  .indexBody{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	overflow: hidden;
  }
  .color-overlay{
	background: linear-gradient(to left right, blue,red);
	width: 100%;
	height: 100%;
  }
  .footer {
	margin-top: auto;
  }

.profile-dropdown {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .profile-dropdown-container:hover .profile-dropdown {
	opacity: 1;
	visibility: visible;
  }
/*Card*/
.cardContainer{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.logIntitle{
	width: 400px;
	height: 40px;
	border-radius: 10px 10px 0px 0px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logInFormContainer{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 500px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 10px 0px rgba(114, 114, 114, 0.5);
	margin-bottom: 8%;
}
.signUpFormContainer{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 800px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 10px 0px rgba(114, 114, 114, 0.5);
	margin-bottom: 8%;
}
.titleSpan{
	font-size: 30px;
}
.memberCreateContainer{
	margin-top: 10%;
}
.memberCreateContainerSignUp{
	margin-top: 0%;
}
/* layout */
.mainContainer{
	background-image: url('/imgs/mainImage.jpg');
	height: 100vh;
	background-position: 0% 90%;
	position: relative;
}
.dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value (last parameter) to control darkness */
}
/*butons*/
.submitButton{
	width: 100%;

}
/*form*/
.logInFormInput{
	margin-bottom: 10%;
}

/* img */
.logInImg {
	background-image: url('/imgs/logInBG.jpg');
	background-size: cover; /* Adjust as needed */
	background-position: center; /* Adjust as needed */
	height: 600px;
	width: 600px;
  }
  
/* colros */
/* orange : #ff5733 */
/* white : #ffffff */
/* dark white : #fOfOfO */
/* light grey : #b8b8b8 */
/* gray : #707070 */